# slik — react-bento 
# Supabase

VITE_SUPABASE_URL=https://svcfwbzaqyxokspedmqz.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_-xUmZsd-KHVzgOrsnJ05fA_bSpIMIUx
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2Y2Z3YnphcXl4b2tzcGVkbXF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1OTU0NjQsImV4cCI6MjA5MjE3MTQ2NH0.6zYXfU0aJQp-p7cktn4RKhwZb9dx7ljQ2axdJFTg-20
